@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&display=swap");

.iphone {
  background-color: #1a1423;
  min-height: 852px;
  min-width: 393px;
  position: relative;
  width: 100%;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

/* далее просто твой код, как есть */

.iphone .rectangle {
  background-color: #26233a;
  border: 1px solid;
  border-color: #3b374b;
  border-radius: 15px;
  box-shadow: 0px 4px 4px #00000040;
  height: 195px;
  left: 16px;
  position: absolute;
  top: 18px;
  width: 361px;
}
.iphone {
  background-color: #1a1423;
  min-height: 852px;
  min-width: 393px;
  position: relative;
  width: 100%;
}

.iphone .rectangle {
  background-color: #26233a;
  border: 1px solid;
  border-color: #3b374b;
  border-radius: 15px;
  box-shadow: 0px 4px 4px #00000040;
  height: 195px;
  left: 16px;
  position: absolute;
  top: 18px;
  width: 361px;
}

.iphone .div {
  background-color: #9a4dff;
  border-radius: 15px;
  height: 61px;
  left: 42px;
  position: absolute;
  top: 40px;
  width: 61px;
}

.iphone .text-wrapper {
  color: #f2e9e4;
  font-family: "Inter-Black", Helvetica;
  font-size: 16px;
  font-weight: 900;
  left: 107px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 62px;
  white-space: nowrap;
}

.iphone .element {
  align-items: center;
  color: #f2e9e4;
  display: flex;
  font-family: "Inter-Black", Helvetica;
  font-size: 48px;
  font-weight: 900;
  height: 58px;
  justify-content: center;
  left: 42px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 113px;
}

.iphone .span {
  color: #f2e9e4;
  font-family: "Inter-Black", Helvetica;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 0;
}

.iphone .text-wrapper-2 {
  font-size: 24px;
}

.iphone .rectangle-2 {
  background-color: #9a4dff;
  border-radius: 14px;
  box-shadow: 0px 4px 4px #00000040;
  height: 28px;
  left: 266px;
  position: absolute;
  top: 125px;
  width: 86px;
}

.iphone .text-wrapper-3 {
  align-items: center;
  color: #f2e9e4;
  display: flex;
  font-family: "Inter-Black", Helvetica;
  font-size: 16px;
  font-weight: 900;
  height: 28px;
  justify-content: center;
  left: 266px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 125px;
  width: 86px;
}

.iphone .group {
  height: 177px;
  left: 16px;
  position: absolute;
  top: 231px;
  width: 365px;
}

.iphone .rectangle-3 {
  background-color: #26233a;
  border: 1px solid;
  border-color: #3b374b;
  border-radius: 15px;
  box-shadow: 0px 4px 4px #00000040;
  height: 177px;
  left: 0;
  position: absolute;
  top: 0;
  width: 361px;
}

.iphone .ellipse {
  background-color: #3f3961;
  border-radius: 78.5px;
  height: 157px;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 157px;
}

.iphone .img {
  height: 74px;
  left: 31px;
  position: absolute;
  top: 15px;
  width: 126px;
}

.iphone .ellipse-2 {
  height: 131px;
  left: 15px;
  position: absolute;
  top: 16px;
  width: 74px;
}

.iphone .ellipse-3 {
  height: 32px;
  left: 88px;
  position: absolute;
  top: 57px;
  width: 74px;
}

.iphone .ellipse-4 {
  height: 74px;
  left: 21px;
  position: absolute;
  top: 88px;
  width: 141px;
}

.iphone .text-wrapper-4 {
  align-items: center;
  color: #e19926;
  display: flex;
  font-family: "Inter-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  height: 16px;
  justify-content: center;
  left: 212px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7px;
  width: 70px;
}

.iphone .text-wrapper-5 {
  align-items: center;
  color: #0fa795;
  display: flex;
  font-family: "Inter-ExtraBold", Helvetica;
  font-size: 12px;
  font-weight: 800;
  height: 16px;
  justify-content: center;
  left: 270px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 7px;
  width: 75px;
}

.iphone .p {
  align-items: center;
  color: #f2e9e4;
  display: flex;
  font-family: "Inter-Black", Helvetica;
  font-size: 20px;
  font-weight: 900;
  height: 24px;
  justify-content: center;
  left: 42px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 171px;
  white-space: nowrap;
}

.iphone .text-wrapper-6 {
  color: #f2e9e4;
  font-family: "Inter-Black", Helvetica;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 0;
}

.iphone .text-wrapper-7 {
  font-size: 10px;
}

.iphone .group-2 {
  height: 178px;
  left: 31px;
  position: absolute;
  top: 586px;
  width: 335px;
}

.iphone .rectangle-4 {
  background-color: #1e444f;
  border: 1px solid;
  border-color: #0fa795;
  border-radius: 15px;
  box-shadow: 0px 4px 4px #00000040;
  height: 178px;
  left: 0;
  position: absolute;
  top: 0;
  width: 327px;
}

.iphone .text-wrapper-8 {
  align-items: center;
  color: #f2e9e4;
  display: flex;
  font-family: "Inter-Bold", Helvetica;
  font-size: 36px;
  font-weight: 700;
  height: 40px;
  justify-content: center;
  left: 85px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 12px;
  white-space: nowrap;
  width: 158px;
}

.iphone .text-wrapper-9 {
  align-items: center;
  color: #f2e9e4;
  display: flex;
  font-family: "Inter-Bold", Helvetica;
  font-size: 12px;
  font-weight: 700;
  height: 15px;
  justify-content: center;
  left: 82px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 44px;
}

.iphone .text-wrapper-10 {
  align-items: center;
  color: #f2e9e4;
  display: flex;
  font-family: "Inter-Bold", Helvetica;
  font-size: 12px;
  font-weight: 700;
  height: 15px;
  justify-content: center;
  left: 114px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 72px;
  width: 99px;
}

.iphone .text-wrapper-11 {
  align-items: center;
  color: #f2e9e4;
  display: flex;
  font-family: "Inter-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 24px;
  justify-content: center;
  left: 98px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 107px;
  width: 131px;
}

.iphone .rectangle-5 {
  background-color: #122930;
  border-radius: 4px;
  height: 8px;
  left: 16px;
  position: absolute;
  top: 138px;
  width: 295px;
}

.iphone .rectangle-6 {
  background-color: #096c60;
  border-radius: 4px;
  height: 8px;
  left: 16px;
  position: absolute;
  top: 138px;
  width: 103px;
}

.iphone .rectangle-7 {
  background-color: #0fa795;
  border-radius: 4px;
  height: 8px;
  left: 16px;
  position: absolute;
  top: 138px;
  width: 90px;
}

.iphone .ellipse-5 {
  height: 22px;
  left: 51px;
  position: absolute;
  top: 73px;
  width: 43px;
}

.iphone .ellipse-6 {
  height: 27px;
  left: 59px;
  position: absolute;
  top: 50px;
  width: 27px;
}

.iphone .ellipse-7 {
  background-color: #e19926;
  border-radius: 8px;
  height: 16px;
  left: 197px;
  position: absolute;
  top: 238px;
  width: 16px;
}

.iphone .ellipse-8 {
  background-color: #80e555;
  border-radius: 8px;
  height: 16px;
  left: 197px;
  position: absolute;
  top: 259px;
  width: 16px;
}

.iphone .ellipse-9 {
  background-color: #55c8e5;
  border-radius: 8px;
  height: 16px;
  left: 197px;
  position: absolute;
  top: 278px;
  width: 16px;
}

.iphone .ellipse-10 {
  background-color: #5563e5;
  border-radius: 8px;
  height: 16px;
  left: 197px;
  position: absolute;
  top: 300px;
  width: 16px;
}

.iphone .ellipse-11 {
  background-color: #d9d9d9;
  border-radius: 11px;
  height: 22px;
  left: 194px;
  position: absolute;
  top: 319px;
  width: 22px;
}

.iphone .ellipse-12 {
  background-color: #d9d9d9;
  border-radius: 11px;
  height: 22px;
  left: 194px;
  position: absolute;
  top: 341px;
  width: 22px;
}

.iphone .ellipse-13 {
  background-color: #d9d9d9;
  border-radius: 11px;
  height: 22px;
  left: 194px;
  position: absolute;
  top: 363px;
  width: 22px;
}

.iphone .ellipse-14 {
  background-color: #d9d9d9;
  border-radius: 11px;
  height: 22px;
  left: 194px;
  position: absolute;
  top: 385px;
  width: 22px;
}

.iphone .free-icon-chatbot-wrapper {
  background: linear-gradient(
    260deg,
    rgba(98, 0, 107, 1) 0%,
    rgba(60, 0, 123, 1) 100%
  );
  border: none;
  border-radius: 15px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 140px;
  left: 31px;
  position: absolute;
  top: 427px;
  width: 329px;
}

.iphone .free-icon-chatbot-wrapper::before {
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  background: linear-gradient(
    260deg,
    rgba(62, 0, 67, 1) 0%,
    rgba(33, 0, 67, 1) 100%
  );
  border-radius: 15px;
  content: "";
  inset: 0;
  mask-composite: exclude;
  padding: 1px;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}

.iphone .free-icon-chatbot {
  aspect-ratio: 1;
  height: 91px;
  margin-left: 226px;
  margin-top: 28px;
  object-fit: cover;
  width: 91px;
}

.iphone .text-wrapper-12 {
  align-items: center;
  color: #80e555;
  display: flex;
  font-family: "Inter-ExtraBold", Helvetica;
  font-size: 10px;
  font-weight: 800;
  height: 16px;
  justify-content: center;
  left: 228px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 259px;
  width: 70px;
}

.iphone .rectangle-8 {
  background-color: #31274e;
  border: 1px solid;
  border-color: #462e72;
  border-radius: 14px;
  height: 53px;
  left: 49px;
  position: absolute;
  top: 444px;
  width: 197px;
}

.iphone .rectangle-9 {
  background-color: #3f3961;
  border-radius: 15px;
  height: 43px;
  left: 54px;
  position: absolute;
  top: 449px;
  width: 187px;
}

.iphone .text-wrapper-13 {
  align-items: center;
  color: #0fa795;
  display: flex;
  font-family: "Inter-ExtraBold", Helvetica;
  font-size: 12px;
  font-weight: 800;
  height: 16px;
  justify-content: center;
  left: 285px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 259px;
  width: 75px;
}

.iphone .text-wrapper-14 {
  align-items: center;
  color: #f2e9e4;
  display: flex;
  font-family: "Inter-Bold", Helvetica;
  font-size: 8px;
  font-weight: 700;
  height: 41px;
  justify-content: center;
  left: 66px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 449px;
  width: 163px;
}

.iphone .text-wrapper-15 {
  align-items: center;
  color: #55c8e5;
  display: flex;
  font-family: "Inter-ExtraBold", Helvetica;
  font-size: 10px;
  font-weight: 800;
  height: 16px;
  justify-content: center;
  left: 229px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 278px;
  width: 70px;
}

.iphone .rectangle-10 {
  background-color: #8945e9;
  border-radius: 15px;
  height: 35px;
  left: 66px;
  position: absolute;
  top: 515px;
  width: 163px;
}

.iphone .text-wrapper-16 {
  align-items: center;
  color: #0fa795;
  display: flex;
  font-family: "Inter-ExtraBold", Helvetica;
  font-size: 12px;
  font-weight: 800;
  height: 16px;
  justify-content: center;
  left: 285px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 278px;
  width: 75px;
}

.iphone .text-wrapper-17 {
  align-items: center;
  color: #f2e9e4;
  display: flex;
  font-family: "Inter-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 35px;
  justify-content: center;
  left: 82px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 515px;
  width: 131px;
}

.iphone .text-wrapper-18 {
  align-items: center;
  color: #5563e5;
  display: flex;
  font-family: "Inter-ExtraBold", Helvetica;
  font-size: 10px;
  font-weight: 800;
  height: 16px;
  justify-content: center;
  left: 229px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 302px;
  width: 70px;
}

.iphone .text-wrapper-19 {
  align-items: center;
  color: #0fa795;
  display: flex;
  font-family: "Inter-ExtraBold", Helvetica;
  font-size: 12px;
  font-weight: 800;
  height: 16px;
  justify-content: center;
  left: 285px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 300px;
  width: 75px;
}

.iphone .group-3 {
  height: 115px;
  left: 0;
  position: absolute;
  top: 737px;
  width: 393px;
}

.iphone .rectangle-11 {
  background-color: #d9d9d9;
  height: 36px;
  left: 101px;
  position: absolute;
  top: 802px;
  width: 36px;
}

.iphone .rectangle-12 {
  background-color: #d9d9d9;
  height: 36px;
  left: 256px;
  position: absolute;
  top: 802px;
  width: 36px;
}